body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin: 0;
}

.card {
    background-color: #ffe4e1;
    border-radius: 15px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card-header h1 {
    color: #6973ff;
}


.card-body p {
    font-size: 18px;
    color: #333;
}

.card-footer {
    margin-top: 20px;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e30e0e;
}